node_modules
npm-debug.log
client
database
test
.env.development
.env.testing
.eslintignore
.eslintrc
.gitignore
.git
.mocharc.js
.nycrc.js
.prettierrc
.pug-lintrc
babel.config
ecosystem.config
postcss.config
semantic.json
vue.config.js
*.spec.js
build
configs
.vscode
.nyc_output
*.tar