{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": "off",
    "require-atomic-updates": "off",
    "require-jsdoc": "warn",
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "valid-jsdoc": [
      "warn",
      {
        "requireReturn": false,
        "prefer": {
          "return": "returns"
        }
      }
    ]
  },

  "globals": {
    "$utils": false,
    "describe": false,
    "it": false,
    "before": false,
    "req": false,
    "should": false,
    "expect": false,
    "after": false
  }
}
