#.env.*
#.env

.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database dumps
dumps/
dump/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.nyc_output
coverage
tmp/
dist/
out/